<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Let's Build</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="name" placeholder="name" id=""> <br>
        <input type="email" name="email" placeholder="email" id=""> <br>
        <input type="number" name="phoneNumber" placeholder="phone number" id=""> <br>
        <select name="jsLevel" id="">
            <option value="absolute beginner">Absolute Beginner</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
        </select> <br>
        Yes<input type="radio" name="bringLaptop" id="" value="true">
        No<input type="radio" name="bringLaptop" id="" value="false"> <br>
        <input type="submit" name="submit" value="submit" id=""> <br>
    </form>
</body>
</html>