<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lets Build</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>

        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="../static/img/background.jpg" class="img-fluid justify-content-center align-items-center" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form class="form-inline">
                            <div class="text-center text-lg-start mt-4">
                                <a href="/form" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</a>
                                <a href="https://bit.ly/bvocfc-letsbuild-details" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem;">More</a>
                            </div>
                        </form>
                        <br><br><br><br>
                    </div>
                </div>
            </div>

            <!-- <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"> -->
                <!-- Copyright -->
                <!-- <div class="text-white mb-3 mb-md-0">
                    Copyright © 2020. All rights reserved.
                </div> -->
                <!-- Copyright -->
            
                <!-- Right -->
                <!-- <div>
                    <a href="#!" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                    <i class="fab fa-google"></i>
                    </a>
                    <a href="#!" class="text-white">
                    <i class="fab fa-linkedin-in"></i>
                    </a>
                </div> -->
                <!-- Right -->
            <!-- </div> -->

        </section>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </body>
</html>